@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ol>

@foreach(var entry in Model.Entries)
{
    <li><a href=@entry.url>@entry.title</a></li>
}
</ol>

<div>
    This page was rendered in @Model.RenderTime ms.
</div>

<div>
    @Model.ExtraMessage
</div>
